<!doctype html>
<html lang="en-US">
  <title>
    abhchand.me | calendar
  </title>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- SEO -->
    <meta name="title" content="abhchand.me | calendar" />
    <meta name="description" content="Calendar of abhchand">
    <meta name="author" content="abhchand">
    <meta property="og:image" content="https://abhchand.me/assets/images/me/profile-thumb.jpg" />
    <meta name=”robots” content="noindex, nofollow">

    <!-- CSS -->
    <style>
    </style>

    <!-- JS -->
    <script>
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93556188-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <section class='calendar'>
    </section>
  </body>
</html>
